.DS_Store
up/static/artwork/*
up/node_modules
up/bower_components
up/static/tracks/*
up/var/download/*
up/var/up.sqlite
up/dist.platforms/
up/build/
up/static/test.html
up/static/wrap.svg
up.sublime-workspace
up/*.pyc