html {
  background: #202020 url(../images/noise.png); }

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: sans-serif; }

.antialiased, h2, .question__answer, .intro, .btn-primary {
  -webkit-font-smoothing: antialiased; }

h2, .question__answer, .intro {
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 100; }

.block {
  padding: 1.5em 2em;
  overflow: hidden; }

.block--s {
  padding: 0.75em 1em; }

.block--dark {
  color: #fff;
  max-width: 39em; }

.confession_message textarea {
  border: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  width: 100%;
  height: 130px;
  background-color: transparent;
  color: #9DE7FF; }

.confession_message textarea:focus {
  outline: none; }

button {
  font-size: medium; }

/**
 * Buttons
 * ----------------------------------------------------------------------------
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using buttons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the buttonâ€™s text is 1em, and the button is (2.5 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Donâ€™t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  cursor: pointer;
  /* [5] */
  margin: inherit 0 0 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  padding-right: 1.25em;
  /* [7] */
  padding-left: 1.25em;
  /* [7] */
  border-width: 1px;
  border-color: transparent;
  border-style: solid; }

.btn, .btn:hover {
  text-decoration: none;
  /* [9] */ }

.btn:active, .btn:focus {
  outline: none; }

.i, .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.i {
  vertical-align: middle;
  font-style: normal; }

.btn-primary {
  border: solid 1px #999;
  color: #fff;
  background-color: transparent; }
  .btn-primary:hover {
    background: #4148FF;
    border-color: #4148FF; }

.brush {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 22%;
  background: url(../images/brush.png) 0 0 no-repeat;
  background-size: cover; }

.brush + * {
  margin-top: 13%;
  position: relative; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  25% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes grow {
  0% {
    width: 0%; }

  100% {
    width: 100%; } }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(5%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

.working {
  position: relative; }

.working > span {
  -webkit-animation: show 2s both 0s ease-in-out;
  position: absolute;
  top: 0;
  margin-top: 0;
  display: block;
  left: 0;
  right: 0; }

.working :nth-child(1) {
  -webkit-animation-delay: 0; }

.working :nth-child(2) {
  -webkit-animation-delay: 2s; }

.working :nth-child(3) {
  -webkit-animation-delay: 4s; }

.working :nth-child(4) {
  -webkit-animation-delay: 6s; }

.working :nth-child(5) {
  -webkit-animation-delay: 8s; }

.working :nth-child(6) {
  -webkit-animation-delay: 10s; }

.working :nth-child(7) {
  -webkit-animation-delay: 12s; }

.progress-bar {
  height: 1em;
  background: #4148FF;
  width: 0;
  display: block;
  -webkit-animation: grow 14s both 0s ease-in-out; }

.list-unstyled {
  margin-left: 0;
  list-style: none;
  margin: 0; }

.errors {
  background: #584F4D; }

[data-stretchy-block] {
  -webkit-animation: up 0.5s both 0s ease-in-out; }
