html {
  background: #202020 url(../images/noise.png); }


.view--album {
  background: #4148FF; }
  .view--album body {
    background: #4148FF; }

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 0; }

.antialiased, h2, .question__answer, .intro, .btn-primary {
  -webkit-font-smoothing: antialiased; }

h2, .question__answer, .intro {
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 100; }
  @media only screen and (max-width: 37.5em) {
    h2, .question__answer, .intro {
      font-size: 1.2em;
      line-height: 1.5; } }

.small {
  font-size: 0.875em; }

.tiny {
  font-size: 0.75em; }

.uppercase {
  text-transform: uppercase; }

.fileinfo {
  display: inline-block; }

.block {
  padding: 1.5em 2em;
  overflow: hidden; }

.block--s {
  padding: 0.75em 1em; }

.block--dark {
  color: #fff; }
  .block--dark .link {
    color: #fff; }

.nice-line-length {
  max-width: 39em; }

.question__answer {
  border: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  width: 100%;
  height: 130px;
  background-color: transparent;
  color: #fff;
  font-size: 32px; }

.keyline--bottom {
  border-bottom: dashed 1px #333;
  padding-bottom: 0.5em; }

.question__answer:focus {
  outline: none; }

.question__errors {
  color: #4C94FF; }

button {
  font-size: medium; }

/**
 * Buttons
 * ----------------------------------------------------------------------------
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using buttons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the buttonâ€™s text is 1em, and the button is (2.5 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Donâ€™t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  cursor: pointer;
  /* [5] */
  margin: inherit 0 0 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  padding-right: 1.25em;
  /* [7] */
  padding-left: 1.25em;
  /* [7] */
  border-width: 1px;
  border-color: transparent;
  border-style: solid; }

.btn, .btn:hover {
  text-decoration: none;
  /* [9] */ }

.btn:active, .btn:focus {
  outline: none; }

.i, .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.i {
  vertical-align: middle;
  font-style: normal; }

.btn-primary {
  border: solid 1px #999;
  color: #fff;
  background-color: transparent; }
  .btn-primary:hover {
    background: #4148FF;
    border-color: #4148FF; }

.btn-secondary {
  border: solid 1px #333;
  color: #fff;
  background-color: transparent; }
  .btn-secondary:hover {
    color: #fff;
    background: #333;
    border-color: #333; }

@media only screen and (max-width: 37.5em) {
  .btn-block--q-small {
    display: block;
    text-align: center; } }

@media only screen and (max-width: 25em) {
  .btn-block--q-xsmall {
    display: block;
    text-align: center; } }

@media only screen and (max-width: 37.5em) {
  button.btn-block--q-small {
    width: 100%; } }

@media only screen and (max-width: 25em) {
  button.btn-block--q-xsmall {
    width: 100%; } }

.btn--main {
  font-size: 17px;
  margin-top: 2em;
  display: block;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.brush {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 22%;
  background: url(../images/brush.png) 0 0 no-repeat;
  background-size: cover; }

body > .block:first-child, .block--first {
  padding-top: 13%;
  position: relative;
  z-index: 2; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  25% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  25% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes show {
  0% {
    opacity: 0; }

  25% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes show {
  0% {
    opacity: 0; }

  25% {
    opacity: 1; }

  75% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes up {
  0% {
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-ms-keyframes up {
  0% {
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes up {
  0% {
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes upper {
  0% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes upper {
  0% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-ms-keyframes upper {
  0% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes upper {
  0% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.working {
  position: relative;
  min-height: 2em; }

.working > span {
  position: relative;
  top: 0;
  display: block;
  left: 0; }

.progress-bar {
  background: #4148FF;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  display: block; }

.progress-track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }

.errors {
  background: #2B46CF; }

[data-stretchy-block] {
  -webkit-animation: up 0.5s both 0s ease-in-out;
  -moz-animation: up 0.5s both 0s ease-in-out;
  -ms-animation: up 0.5s both 0s ease-in-out;
  -o-animation: up 0.5s both 0s ease-in-out;
  animation: up 0.5s both 0s ease-in-out; }

.action-block {
  -webkit-animation: upper 0.5s backwards 0.25s ease-in-out;
  -moz-animation: upper 0.5s backwards 0.25s ease-in-out;
  -ms-animation: upper 0.5s backwards 0.25s ease-in-out;
  -o-animation: upper 0.5s backwards 0.25s ease-in-out;
  animation: upper 0.5s backwards 0.25s ease-in-out; }

.text--center {
  text-align: center; }

.cd-art {
  line-height: 0; }

.cd-image {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }

.cd-image, .album-line-length {
  max-width: 31.25em; }

.block--center {
  margin-left: auto;
  margin-right: auto; }

.nowrap {
  white-space: nowrap; }

input[type="text"] {
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 0.875em; }

input:focus, textarea:focus {
  outline: none; }




.form--inline .form__field, .form--inline .form__submit {
  display: inline-block; }
.form--inline .form__field input {
  border: 0;
  padding: 0.875em 0.5em; }
@media only screen and (max-width: 25em) {
  .form--inline .form__field {
    display: block; }
    .form--inline .form__field input {
      display: block;
      width: 95%;
      padding-left: 2.5%;
      padding-right: 2.5%; } }


.form__errors li {
  padding: 0.5em; }

.question__answer {
  margin-top: 0.75em; }

.cd-art, .form--inline, .form__errors, .m {
  margin-top: 1.5em; }



.mb0 {
  margin-bottom: 0; }

.pb0 {
  padding-bottom: 0; }

.no-zip-show {
  display: none; }

.no-zip-hide {
  display: block; }

.no-zip .no-zip-show {
  display: block; }

.no-zip .no-zip-hide {
  display: none; }

.dl {
  overflow: hidden; }

.dl > dt, .dl > dd {
  width: 50%;
  float: left;
  text-align: left;
  margin-left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  @media only screen and (max-width: 37.5em) {
    .dl > dt, .dl > dd {
      width: 100%;
      float: none; } }

@media only screen and (max-width: 37.5em) {
  .dl > dt {
    padding-top: 1em;
    font-weight: bold; } }

.dl > dd {
  text-align: right;
  color: #ccc; }
  @media only screen and (max-width: 37.5em) {
    .dl > dd {
      text-align: left;
      padding-top: 0.125em;
      padding-bottom: 1em; } }

.dl > dd + dt, .dl > dd + dt + dd {
  border-top: solid 1px #444; }

@media only screen and (max-width: 37.5em) {
  .dl > dd + dt, .dl > dd + dt + dd {
    border-top: none; } }

@media only screen and (max-width: 37.5em) {
  .dl > dd + dt {
    border-top: solid 1px #444; } }

%clearfix:after {
  content: "";
  display: table;
  clear: both; }

.nav {
  list-style: none;
  padding-left: 0; }
  .nav:first-child {
    margin-top: 0; }

.nav > li {
  float: left; }

.brush {
  z-index: 1; }

.site-nav {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
  cursor: pointer;
  min-height: 4.5em; }

.site-nav__container {
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .site-nav__container {
      padding-top: 1em; } }
  .site-nav__container > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }

.site-nav__item {
  color: #ddd;
  text-decoration: none;
  border-bottom: dashed 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 0.125em;
  -webkit-transition: border-bottom-color 0.1s;
  -ms-transition: border-bottom-color 0.1s;
  -moz-transition: border-bottom-color 0.1s;
  -o-transition: border-bottom-color 0.1s;
  transition: border-bottom-color 0.1s; }
  .site-nav__item + .site-nav__item {
    margin-left: 1em; }
  .site-nav__item:hover {
    color: #fff;
    border-bottom-color: #999; }

