@mixin media($breakpoint) {
    @if $breakpoint == 'small' {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == 'xsmall' {
        @media only screen and (max-width: 25em) {
            @content;
        }
    }

}

@mixin vendor($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}



%page-bg {
    background: #202020 url(../images/noise.png);
}

html {
  @extend %page-bg;
}

.view--album {
    background: #333;
    body {
        @extend %page-bg;
    }
}


body {
    margin: 0;
    padding: 0;
    // background: #fff url('../images/noise.png');
    color: #111;
    font-family: sans-serif;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 0;
}




.antialiased, h2, .question__answer, .intro, .btn-primary {
    -webkit-font-smoothing: antialiased;
}

h2, .question__answer, .intro {
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 100;
  @include media('small') {
    font-size: 1.2em;
    line-height: 1.5;
  }
}


.small {
  font-size: .875em;
}

.tiny {
    font-size: .75em;
}

.uppercase {
    text-transform: uppercase;
}

.fileinfo {
    display: inline-block;
}

.block {
  padding: 1.5em 2em;
  overflow: hidden;
}


.block--s {
  padding: .75em 1em;
}

.block--dark {
  color: #fff;
  .link {
    color: #fff;
  }
}

.block--album {
  background: #333;
}

.nice-line-length {
    max-width: 39em;
}

.question__answer {
    border: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    width: 100%;
    height: 130px;
    background-color: transparent;
    color: #9DE7FF;
    @extend %mHalf;
}

.question__answer:focus{
    outline:none;
}


button {
  font-size: medium;
}

/**
 * Buttons
 * ----------------------------------------------------------------------------
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using buttons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the buttonâ€™s text is 1em, and the button is (2.5 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Donâ€™t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  cursor: pointer;
  /* [5] */
  margin: inherit 0 0 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  padding-right: 1.25em;
  /* [7] */
  padding-left: 1.25em;
  /* [7] */
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  // -webkit-border-radius: 0.3125em;
  // -moz-border-radius: 0.3125em;
  // -ms-border-radius: 0.3125em;
  // -o-border-radius: 0.3125em;
  // border-radius: 0.3125em;
}
.btn, .btn:hover {
  text-decoration: none;
  /* [9] */
}
.btn:active, .btn:focus {
  outline: none;
}

.i, .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.i {
  vertical-align: middle;
  font-style: normal;
}


.btn-primary {
  border: solid 1px #999;
  // text-transform: uppercase;
  color: #fff;
  background-color: transparent;

  &:hover {
    background: #4148FF;
    border-color: #4148FF;
  }
}

.btn-block--q-small {
    @include media('small') {
        display: block;
        text-align: center;
    }
}

.btn-block--q-xsmall {
    @include media('xsmall') {
        display: block;
        text-align: center;
    }
}

button.btn-block--q-small {
    @include media('small') {
        width: 100%; // For buttons!
    }
}

button.btn-block--q-xsmall {
    @include media('xsmall') {
        width: 100%; // For buttons!
    }
}


.brush {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 22%;
  background: url(../images/brush.png) 0 0 no-repeat;
  background-size: cover;
}

body > .block:first-child {
  padding-top: 11%;
  position: relative;
  z-index: 2;
}


@include keyframes(show) {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(grow) {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(up) {
    0% {
        @include vendor(transform, translateY(5%));
        opacity: 0;
    }
    100% {
        @include vendor(transform, translateY(0));
        opacity: 1;
    }
}




.working {
    position: relative;
}

.working > span {
    -webkit-animation: show 2s both 0s ease-in-out;
    position: absolute;
    top: 0;
    margin-top: 0;
    display: block;
    left: 0;
    right: 0;
}

.working :nth-child(1) {
    -webkit-animation-delay: 0;
}
.working :nth-child(2) {
    -webkit-animation-delay: 2s;
}
.working :nth-child(3) {
    -webkit-animation-delay: 4s;
}
.working :nth-child(4) {
    -webkit-animation-delay: 6s;
}

.working :nth-child(5) {
    -webkit-animation-delay: 8s;
}
.working :nth-child(6) {
    -webkit-animation-delay: 10s;
}
.working :nth-child(7) {
    -webkit-animation-delay: 12s;
}


.progress-bar {
    height: 1em;
    background: #4148FF;
    width: 0;
    display: block;
    -webkit-animation: grow 14s both 0s ease-in-out;
    position: absolute;
    top: 0;
}

.progress-track {
    background: #000;
    width: 100%;
    height: 1em;
    position: relative;
}


.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.errors {
  background: #584F4D;
}


[data-stretchy-block] {
  -webkit-animation: up .5s both 0s ease-in-out;
}


.text--center {
    text-align: center;
}

.cd-art{
    @extend %m;
    line-height: 0;
}


    .cd-image {
        width: 100%;
    }

    .cd-image,
    .album-line-length {
        max-width: 31.25em;
    }


.block--center {
    margin-left: auto;
    margin-right: auto;
}

.nowrap {
    white-space: nowrap;
}


// Form fields stuff..


%field {
    padding: .5em;
    font-family: sans-serif;
    font-size: .875em;
}

input,
textarea {
    &:focus {
        outline: none;

    }
}


input[type="text"] {
    @extend %field;
}


.form {

}

.form--inline {
    @extend %m;
}



.form--inline {
    .form__field,
    .form__submit {
        display: inline-block;

    }
    .form__field {
        input {
            border: 0;
            padding: .875em .5em;
            
        }
        @include media('xsmall') {
            display: block;
            input {
                display: block;
                width: 95%;
                padding-left: 2.5%;
                padding-right: 2.5%;
            }
        }
    }
    .form__submit {

    }
}

.form__actions {

}

.form__errors {
    @extend %m;
    li {
        padding: .5em;
    }
}



%mHalf {
    margin-top: .75em;
}

%m {
  margin-top: 1.5em;
}

%m2 {
  margin-top: 3em;
}

.m {
    @extend %m;
}

.mb0 {
    margin-bottom: 0;
}
.pb0 {
    padding-bottom: 0;
}

// Zip support...

.no-zip-show {
    display: none;
}

.no-zip-hide {
    display: block;
}

.no-zip .no-zip-show {
    display: block;
}

.no-zip .no-zip-hide {
    display: none;
}


// Def lists

.dl {
    overflow: hidden;
}

    .dl > dt,
    .dl > dd {
        width: 50%;
        float: left;
        text-align: left;
        margin-left: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        @include media(small) {
            width: 100%;
            float: none;
        }
    }

    .dl > dt {
        @include media(small) {
            padding-top: 1em;
            font-weight: bold;
        }
    }

    .dl > dd {
        text-align: right;
        color: #ccc;
        @include media(small) {
            text-align: left;
            padding-top: .125em;
            padding-bottom: 1em;
        }
    }

    %dl-border-top {
        border-top: solid 1px #444;
    }

    .dl > dd + dt,
    .dl > dd + dt + dd {
        @extend %dl-border-top;
        @include media(small) {
            border-top: none;
        }
    }

    .dl > dd + dt {
       @include media(small) {
            border-top: solid 1px #444;
       }
    }

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both; 
    }
}

.nav {
    @extend %clearfix;
    list-style: none;
    padding-left: 0;
    &:first-child {
        margin-top: 0;
    }
}
    .nav > li {
        float: left;
    }


.brush {
    @include vendor(transition, opacity .2s ease-out);
    z-index: 1;
}

.site-nav {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 3;
    cursor: pointer;
}
    
    .site-nav__container {
        @include media(small) {
            padding-top: 1em;
        }
        opacity: 0;
        @include vendor(transition, opacity .2s ease-out);
    }

    .site-nav:hover .site-nav__container {
        opacity: 1;
    }

    .site-nav:hover + .brush {
        opacity: .12;
    }

    .site-nav__item {
        color: #fff;

        & + & {
            margin-left: 1em;
        }

    }

    .site-nav__item--current {
        color: #ff0000;
    }

// h1 {
//     font-size: 4em;
//     line-height: 1.333333333;
//     -webkit-font-smoothing: antialiased;
// }

// h1, h2 {
//   font-family: sans-serif;
//     // font-family: "League Gothic", sans-serif;
//     -webkit-font-smoothing: antialiased;
// }

// h2 {
//     font-size: 3em;
//     // text-transform: uppercase;
// }

// h1:first-child,
// h2:first-child {
//     margin-top: 0;
// }

// p {
//     line-height: 1.5;
// }


// a {
//     color: #f01e4a;
//     text-decoration: none;
// }

// a:hover {
//     color: #f01e4a;
//     text-decoration: underline;
// }



// .card {
//     text-align: center;
//     max-width: 34em;
//     margin: 0 auto;
// }

// .row {
//     // max-width: 80%;
//     margin: 0 auto;
//     // text-align: center;
// }

// .row > :first-child {
//     margin-top: 0;
// }

// .site-header {

//     width: 100%;
//     /*transition: margin-top 300ms ease-in-out;*/
// }

// .site-header--sticky {
//     z-index: 10;
//     display: none;
//     margin-top: 0;
//     position: fixed;
//     /*transition: margin-top 300ms ease-in-out;*/
//     top: 0;
//     left: 0;
// }

// .site-header--fixed {
//     display: block;
//     margin-top: -16em;  
// }



// .confession{
//     margin-top: 2em;
// }



// .action {

// }

// .island {
//     padding: 1em;
//     border: solid 1px rgba(0,0,0,0.2);
// }


// .block {
//     /*margin-top: 1em;*/
//     padding: 1.5em 2em;
// }

// .block--fullscreen {
//     position: relative;
//     height: 100%;
//     min-height: 300px;
//     transition: opacity 600ms ease-in, visibility 600ms;

// }

//     .block__anchor {
//         position: absolute;
//         /*top: -13em;*/
//         top: 0;
//     }

//     .block__background {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         // z-index: -1;
//         // background: url('../images/placeholder-1.jpg') top center no-repeat;
//         background-size: cover;
//         // opacity: .5;
//         // -webkit-filter: sepia(1) hue-rotate(0deg);

//     }

//     .block__background-2 {
//         // background-image: url('../images/placeholder-2.jpg');
//     }

//     .block__background-3 {
//         // background-image: url('../images/placeholder-3.jpg');
//     }

// .block--light {
//     background: #ddd;
//     color: #333;
// }

// .block--dark {
//     // background: rgba(0, 0, 0, 0.54);  
//     color: #fff;
//     // background: #111;
//     // border: solid 1px #000;
// }

// .block--narrow {
//     max-width: 45em;
//     // margin-left: auto;
//     // margin-right: auto;
//     // margin-top: 13em;
//     // margin-bottom: 5em;
//     // border: solid 3px #fff;
//     position: relative;
// }

// .block--inactive {
//     opacity: 0;
//     visibility: hidden;
// }

// .block--hide {
//     max-height: 0;
//     overflow: hidden;
//     opacity: 0;
//     font-size: 0;
// }






// .cd-art {
//   position: relative;
//     // padding: 1em;
//     // margin-left: auto;
//     // margin-right: auto;
//     max-width: 34em;
//     max-height: 34em;
//     height: 100%;
//     border: solid 3px transparent;
//     transition: background 400ms ease-out 0ms,
//                 box-shadow 200ms linear 0ms,
//                 border-radius 400ms ease-out 0ms,
//                 border 300ms linear 0ms;
// }

//     .cd-words {
//         position: absolute;
//         top: 0.5em;
//         left: 0.5em;
//         right: 0.5em;
//         bottom: 0.5em;
//         font-size: 2em;
//         color: #fff;
//         text-align: left;
//     }

//     .cd-art--download .cd-words {
//         opacity: 0;
//         visibility: hidden;
//     }

//     .cd-image {
//         position: relative;
//     }

// .cd-art img {
//     transition: opacity 300ms;
// }

// .cd-art--active {
//     background: #c7c7c7;
//     box-shadow: 0 5px 10px rgba(0,0,0,0.15);
//     border: solid 3px #555;
//     transition-delay: 300ms, 300ms, 0ms;
// }


// .cd-art--download {
//     position: relative;
//     border-radius: 60em;
// }
//     .cd-art--download:before {
//         position: absolute;
//         top: 20%;
//         left: 50%;
//         margin-left: -70px;
//         content: url(/static/images/download.png);

//     }

//     .cd-art--download:after {
//         top: 50%;
//         left: 0;
//         right: 0;
//         text-align: center;
//         position: absolute;
//         display: block;
//         content: "Downloading...";
//         color: red;
//         margin-top: 2em;
//     }

//     .cd-art--download  img {
//         opacity: 0;
//     }




// .transition-hide {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 400ms ease-in, visibility 400ms;
// }

// .mx { margin-top: 2em; }
// .mxx-bottom {   margin-bottom: 3em; }




// h2 {
// }

// .intro {
//   // color: #ddd;
//   line-height: 1.5;
// }

// .question__answer {
//   background-color: transparent;
//   color: #eee;
//   width: 100%;
// }

// .question__a {

// }

// .question__q {

// }






// /**
//  * These helpers may already be elsewhere in your codebase
//  * ----------------------------------------------------------------------------
//  */
// .i, .btn {
//   display: inline-block;
//   *display: inline;
//   *zoom: 1;
// }

// .btn {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

// .i {
//   vertical-align: middle;
//   font-style: normal;
// }


// /**
//  * Button modifiers
//  * ----------------------------------------------------------------------------
//  * E.g:
//     <a class='btn btn--large'>
//         My big button
//     </a>
//  * Or,
//     <a class='btn btn--small btn--soft'>
//         My small rounded button
//     </a>
//  */
// .btn--large,
// .btn--icon-large,
// .btn--icon-large--rev,
// .btn--icon-only--large {
//   line-height: 3.5;
// }

// .btn--large {
//   padding-right: 2.5em;
//   padding-left: 2.5em;
// }

// .btn--small,
// .btn--icon-small,
// .btn--icon-small--rev,
// .btn--icon-only--small {
//   line-height: 2;
// }

// .btn--small {
//   padding-right: 0.625em;
//   padding-left: 0.625em;
// }

// /**
//  * Pill type buttons with (rounded) ends
//  * ----------------------------------------------------------------------------
//  */
// .btn--soft {
//   -webkit-border-radius: 200px;
//   -moz-border-radius: 200px;
//   -ms-border-radius: 200px;
//   -o-border-radius: 200px;
//   border-radius: 200px;
// }

// .btn--hard {
//   -webkit-border-radius: 0;
//   -moz-border-radius: 0;
//   -ms-border-radius: 0;
//   -o-border-radius: 0;
//   border-radius: 0;
// }

// /**
//  * Block buttons stretch to the full width of their parent (handy!)
//  */
// .btn--block {
//   display: block;
//   text-align: center;
// }

// /**
//  * Make a button behave like a block at mobile only (also handy)
//  */
// @media only screen and (max-width: 37.5em) {
//   .btn--block-mobile {
//     text-align: center;
//     display: block;
//   }
// }
// /**
//  * Submit buttons
//  * ----------------------------------------------------------------------------
//  * FireFox doesn't like line-heights on submit buttons. Stick a class on submit
//  * buttons and make sure the padding's the same as your default button :)
//  */
// .btn--submit {
//   line-height: 1;
//   padding-top: 0.625em;
//   padding-bottom: 0.625em;
// }

// .btn--submit-large {
//   line-height: 1;
//   padding-top: 1.25em;
//   padding-bottom: 1.25em;
// }

// .btn--submit-small {
//   line-height: 1;
//   padding-top: 0.3125em;
//   padding-bottom: 0.3125em;
// }

// /**
//  * Buttons with icons
//  * ----------------------------------------------------------------------------
//  * E.g:
//     <a class='btn btn--icon'>
//         <i class='i sprite_icon_edit'></i>
//         My big button
//     </a>
//  * Or,
//     <a class='btn btn--icon-large--rev'>
//         My small rounded button
//         <i class='i sprite_icon_close'></i>
//     </a>
//  */
// .btn--icon-only,
// .btn--icon-only--small,
// .btn--icon-only--large {
//   text-align: center;
//   min-width: 1em;
// }

// .btn--icon-only {
//   padding-left: 0.78125em;
//   padding-right: 0.78125em;
// }

// .btn--icon-only--small {
//   padding-left: 0.5em;
//   padding-right: 0.5em;
// }

// .btn--icon-only--large {
//   padding-left: 1.38889em;
//   padding-right: 1.38889em;
// }

// .btn--icon {
//   padding-left: 0.625em;
// }
// .btn--icon > .i {
//   margin-right: 0.625em;
// }

// .btn--icon--rev {
//   padding-right: 0.625em;
// }
// .btn--icon--rev > .i {
//   margin-left: 0.625em;
// }

// .btn--icon-large {
//   padding-left: 1.25em;
//   padding-right: 2.5em;
// }
// .btn--icon-large > .i {
//   margin-right: 0.625em;
// }

// .btn--icon-large--rev {
//   padding-left: 2.5em;
//   padding-right: 1.25em;
// }
// .btn--icon-large--rev > .i {
//   margin-left: 0.625em;
// }

// .btn--icon-small {
//   padding-left: 0.41667em;
//   padding-right: 0.625em;
// }
// .btn--icon-small > .i {
//   margin-right: 0.3125em;
// }

// .btn--icon-small--rev {
//   padding-left: 0.625em;
//   padding-right: 0.3125em;
// }
// .btn--icon-small--rev > .i {
//   margin-left: 0.625em;
// }

// /**
//  * Button types
//  * ----------------------------------------------------------------------------
//  * E.g:
//     <a class='btn btn-primary'>
//         My awesome button
//     </a> 
//  */
// .btn-primary:hover,
// .btn-secondary:hover,
// .btn-positive:hover,
// .btn-negative:hover {
//   color: #fff;
// }

// .btn-primary {
//   background-color: #ef2b05;
//   background-color: #00CF53;
//   color: #fff;
// }
// .btn-primary:hover {
//   background-color: #fff;
//   color: #333;
// }

// .btn-secondary {
//   background-color: #999;
//   color: #fff;
// }
// .btn-secondary:hover {
//   background-color: #777;
// }

// .btn-tertiary {
//   background-color: #ddd;
//   color: #444;
// }
// .btn-tertiary:hover {
//   background-color: #ccc;
//   color: #333;
// }

// .btn-positive {
//   background-color: #3977B1;
//   color: #fff;
// }
// .btn-positive:hover {
//   background-color: #306596;
// }

// .btn-negative {
//   background-color: #eb3930;
//   color: #fff;
// }
// .btn-negative:hover {
//   background-color: #d8281f;
// }

// /**
//  * A common active state makes us look pro as, bro!
//  */
// .btn:active {
//   background-color: #333;
//   color: #fff;
// }

// /**
//  * ----------------------------------------------------------------------------
//  * Button behaviors
//  * ----------------------------------------------------------------------------
//  */
// /**
//  * Simple bounces
//  * ----------------------------------------------------------------------------
//  */
// .btn--bounce,
// .btn--bob {
//   position: relative;
//   -webkit-transition: bottom 100ms ease-out;
//   -moz-transition: bottom 100ms ease-out;
//   -ms-transition: bottom 100ms ease-out;
//   -o-transition: bottom 100ms ease-out;
//   transition: bottom 100ms ease-out;
// }

// .btn--bounce:active {
//   bottom: -2px;
// }

// .btn--bob:active {
//   bottom: -1px;
// }

// /**
//  * Bounce the icon to a side
//  */
// .btn--bounce-icon--right .i,
// .btn--bounce-icon--left .i,
// .btn--bounce-icon--bottom .i,
// .btn--bounce-icon--top .i {
//   position: relative;
//   -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//   -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//   -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//   -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//   transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//   -webkit-transition-duration: 300ms;
//   -moz-transition-duration: 300ms;
//   -ms-transition-duration: 300ms;
//   -o-transition-duration: 300ms;
//   transition-duration: 300ms;
// }

// .btn--bounce-icon--right:hover .i {
//   -webkit-transition-property: left;
//   -moz-transition-property: left;
//   -ms-transition-property: left;
//   -o-transition-property: left;
//   transition-property: left;
//   left: .3125em;
// }

// .btn--bounce-icon--left:hover .i {
//   -webkit-transition-property: right;
//   -moz-transition-property: right;
//   -ms-transition-property: right;
//   -o-transition-property: right;
//   transition-property: right;
//   right: .3125em;
// }

// .btn--bounce-icon--bottom:hover .i {
//   -webkit-transition-property: top;
//   -moz-transition-property: top;
//   -ms-transition-property: top;
//   -o-transition-property: top;
//   transition-property: top;
//   top: .3125em;
// }

// .btn--bounce-icon--top:hover .i {
//   -webkit-transition-property: bottom;
//   -moz-transition-property: bottom;
//   -ms-transition-property: bottom;
//   -o-transition-property: bottom;
//   transition-property: bottom;
//   bottom: .3125em;
// }

// /**
//  * Inset buttons on block level elements
//  * ----------------------------------------------------------------------------
//  */
// .btn--inset {
//   position: relative;
// }

// .btn--inset:after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   visibility: hidden;
//   -webkit-transition: border-width 100ms ease-out, visibility 100ms;
//   -moz-transition: border-width 100ms ease-out, visibility 100ms;
//   -ms-transition: border-width 100ms ease-out, visibility 100ms;
//   -o-transition: border-width 100ms ease-out, visibility 100ms;
//   transition: border-width 100ms ease-out, visibility 100ms;
//   content: " ";
//   display: block;
//   border-width: 0;
//   border-color: inherit;
//   border-style: solid;
// }

// .btn--inset:hover:after {
//   border-width: 4px;
//   visibility: visible;
// }

// .btn--inset-primary:after {
//   border-color: #3977B1;
// }

// .btn--inset-secondary:after {
//   border-color: #eb3930;
// }

// .btn--inset-large:hover:after {
//   border-width: 8px;
// }

// .btn--inset-small:hover:after {
//   border-width: 1px;
// }

// /**
//  * Buttons that show a loading indicator when clicked
//  * ----------------------------------------------------------------------------
//  */
// .btn--spinner {
//   position: relative;
//   cursor: default;
// }

// .btn--spinner .btn--label {
//   opacity: 0;
//   visibility: hidden;
// }

// .btn--spinner:after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: inline-block;
//   content: url("/static/images/spinner-image.png");
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
// }

// .btn--spinner--text:after {
//   content: attr(data-btn-loading-indicator);
// }



// .btn-facebook {
//     background-color: #3B5998;
// }

// .btn-twitter {
//     background-color: #4099ff;
// }


