.icon-courier-bike { background-image: url('png/courier-bike.png'); background-repeat: no-repeat; }

.icon-courier { background-image: url('png/courier.png'); background-repeat: no-repeat; }

.icon-designer { background-image: url('png/designer.png'); background-repeat: no-repeat; }

.icon-door { background-image: url('png/door.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

.icon-editor { background-image: url('png/editor.png'); background-repeat: no-repeat; }

.icon-printer { background-image: url('png/printer.png'); background-repeat: no-repeat; }

.icon-scissors { background-image: url('png/scissors.png'); background-repeat: no-repeat; }

