{% import "macros.j2" as macros %}

<h2>Album download</h2>

<p>Hey there,</p>

<p>You asked us to send you a link to E Taylor - Up (Side A), and here it is! </p>

<p><a href="http://thisisetaylor.com/{{ album.zip }}">Download the album</a></p>

<p>
	Thanks for your support,
</p>
<p>
	E. Taylor
</p>