Hey there,

You asked us to send you a link to E Taylor - Up (Side A), and here it is! 

<a href="http://thisisetaylor.com/{{ album.zip_file }}">Download the album</a>

Thanks for your support,

E. Taylor
