{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block content %}	
	
	<h1>Cool, we've emailed you the link</h1>

	<p>Check out this music vid</p>

	<iframe width="560" height="315" src="//www.youtube.com/embed/NBLUU42FW0E" frameborder="0" allowfullscreen></iframe>
	
{% endblock %}