{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block meta %}
	<meta http-equiv="refresh" content="15; url=/download/{{uid}}">
{% endblock %}

{% block content %}
	{% include "step-3.j2" with context %}
{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "56318495-bb29-4bc3-afb5-92c9382816e4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}