<div id='working' class='block block--fullscreen ' data-stretchy-block>
    <div class='block__background block__background-3'></div>
    <div class='block--center block--dark album-line-length'>

        <h2 class='working'>
            &nbsp;
            <span>briefing the designer...</span>
            <span>opening editor..</span>
            <span>sending art to the printer</span>
            <span>Printing art</span>
            <span>trimming and assembling</span>
            <span>ringing courier</span>
            <span>knock, knock</span>
        </h2>
        
        <div class="m">
            <div class="progress-track">
                <div class="progress-bar"></div>
            </div>
        </div>
        <p>While you wait, share it.</p>
        <div class='m'>
            <span class='st_facebook_hcount' st_url="http://thisisetaylor.com" st_title="{{ question.hashtag }} {{answer.text|safe}}" st_image="" st_summary="" displayText='Facebook'></span>
            <span class='st_twitter_hcount' st_via="thisisetaylor" st_url="http://shar.es/U1xuU" st_title="{{ question.hashtag }} {{answer.text|safe}}"   displayText='Tweet'></span> 
        </div>
        
    </div>
</div>