<div data-state="question" id="question" class='block block--fullscreen' data-stretchy-block>
    <div class='block__background block__background-2'></div>
    <div class='block--dark album-line-length block--center'>
        <h2 class=''>
            <span class='question__q'>Q:</span> {{ question.title }}
        </h2>

        <form method="post" action="/question">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            
            {{ form.question(placeholder="A:", maxlength="85", class="question__answer")|safe }}

            {% if form.question.errors %}
                <ul class="errors list-unstyled form__errors">
                    {% for error in form.question.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>

            <button type="submit" class='btn btn-primary small btn-block--q-small'>
                Get the album
            </button> 
            </p> 
        </form>

    </div>
</div>