<div class="progress-track" data-progress-track>
    <div class="progress-bar" data-progress-bar></div>
</div>

<div id='working' class='block block--first block--fullscreen'>
    <div class='block__background block__background-3'></div>
    

    <div class='block--center block--dark album-line-length text--center' data-container>

        <div data-elaborate-progress-bar="/download/{{artwork_id}}" class="">
            <h2 class='working' data-progress-title>
                &nbsp;
                <noscript>
                    Making the album artwork...
                </noscript>
            </h2>
            
        </div>
        
        <p>While you wait, share it.</p>
        <div class='m'>
            <span class='st_facebook_hcount' st_url="http://thisisetaylor.com" st_title="{{ question.hashtag }} {{answer.text|safe}}" st_image="" st_summary="" displayText='Facebook'></span>
            <span class='st_twitter_hcount' st_via="thisisetaylor" st_url="http://shar.es/U1xuU" st_title="{{ question.hashtag }} {{answer.text|safe}}"   displayText='Tweet'></span> 
        </div>
        
    </div>
</div>