<div data-state="question" class='block block--fullscreen' data-stretchy-block>
    <div class='block__background block__background-2'></div>
    <div class='block--dark album-line-length block--center' data-step="question">
        <h2 class='keyline--bottom'>
            <span class='question__q'>Q:</span> {{ question.title }}
        </h2>

        <form method="post" action="/question" data-question-form>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            
            {{ form.question(placeholder="A:", maxlength="255", class="question__answer")|safe }}

            {% if form.question.errors %}
                <ul class="errors list-unstyled form__errors">
                    {% for error in form.question.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <div class="action-block">
                    <button type="submit" class='btn btn-primary btn--main' data-submit>
                        Get the album
                    </button> 
            </div>
            
        </form>

    </div>
</div>