<div class='block block--fullscreen' id='start' data-stretchy-block>
    <div class='block__background'></div>
    <div class='block--dark '>
    	<div class="block--center album-line-length">
    		<h2>Download the new album <strong>Up</strong> here for free.</h2>
	        <p class='intro'> But first you need to answer a question. Why? Because the artwork is dynamic (that means it’s always changing) and it will include your answer, as well as some of those before you.</p>
	        <p class='intro'>
	        	Now you’re an artist too.
	    	</p>
	    	<p class='action-block'>
	    		<a class='btn  btn-primary btn--main' href='/question' data-scroll-href>Alright, let's go <i class='i icon-arrow-next'></i></a>
	    	</p>
    	</div>
        
    </div>
</div>