{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block meta %}
<meta property="fb:app_id"          content="1234567890" /> 
<meta property="og:type"            content="social-cookbook:recipe" /> 
<meta property="og:url"             content="http://e-taylor.com/" /> 
<meta property="og:title"           content="{{ album.title }}" /> 
<meta property="og:image"           content="{{ album.image }}" /> 
<meta property="cookbook:author"    content="http://samples.ogp.me/390580850990722" />
{% endblock %} 

{% block css %}
    {{ super() }}
{% endblock %}

{% block content %} 
    
    {# fancy ajax version if theres time 
    {% block download  %}
        {% include "step-4.j2" with context %}
    {% endblock %}

    {% block share %}
        {% include "step-3.j2" with context %}
    {% endblock %}

    {% block question %}
        {% include "step-2.j2" with context %}
    {% endblock %}#}

    {% block start %}
        {% include "step-1.j2" with context %}
    {% endblock %}

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "56318495-bb29-4bc3-afb5-92c9382816e4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}