{% extends "template.j2" %}
{% import "macros.j2" as macros %}


{% block content %}
<div class="block  block--fullscreen block--dark text--center">
	<h1>404</h1>
	<p>
		That page isn't here. Go back <a href="/" style='color: #fff;'>home</a>
	</p>
	<p>
		<em>&ndash; E. Taylor</em>
	</p>
</div>

{% endblock %}