{% extends "template.j2" %}
{% import "macros.j2" as macros %}


{% block content %}
<div class="block  block--fullscreen block--dark text--center">
	<h1>500</h1>
	<p>
		Something's broken.
		We're working on it.
	</p>
	<p>
		<em>&ndash; E. Taylor</em>
	</p>
</div>

{% endblock %}