{% extends "template.j2" %}
{% import "macros.j2" as macros %}


{% set hide_brush = True %}

{% block content %} 
<div></div>
<div class='block block--dark' data-step="credits">
    <div class="block--center album-line-length text--center">
        <h2>E Taylor <span class='nowrap'>- Up (Side A)</span></h2>

        <p>
            This little EP (and the next) is only here because of the hard work and sacrifice of many generous people. I’m humbled to have worked with them all. Thanks to everyone who has supported me throughout, and to you for taking the time to listen. I hope it makes you think.
        </p>
        <p>
            Produced by <strong>Elliot Taylor</strong> and <strong>Rich Bryant</strong>. Recorded and mixed by <strong>Rich Bryant</strong> at Wayside Studios, Wellington. Mastered by <strong>Vivek Gabriel</strong> at Black Orange Studio, Auckland.
        </p>

        <h4 class='split-line'>credits</h4>

    </div>
    <div class="block--center album-line-length antialiased">



        <dl class='dl'>
            <dt>Elliot Taylor</dt><dd> vocals, production, percussion on tracks 1,2,3, piano on track 5</dd>
            <dt>Rich Bryant</dt><dd> production, bass guitar on tracks 2,3,4, guitar and piano on track 2, organ on track 3</dd>
            <dt>Alistair Mawhinney</dt><dd> drums on tracks 2,3</dd>
            <dt>Simon Watson</dt><dd> guitars on tracks 3,4, guitar solo on track 2</dd>
            <dt>Michael Taylor</dt><dd> trumpet on tracks 3,4, additional guitars on track 4</dd>
            <dt>Andre Paris</dt><dd> saxophone on track 3</dd>
            <dt>Dean Scott</dt><dd> trombone on track 3</dd>
            <dt>Del Daniels</dt><dd> scratching on tracks 1,3, additional vocals on track 4</dd>
            <dt>Bella Kalolo</dt><dd> vocals on track 2</dd>
            <dt>Vivek Gabriel</dt><dd> additional production on tracks 1,2</dd>
            <dt>Blueprint</dt><dd> claps on track 2</dd>
            <dt>Artwork</dt><dd> You and a bunch of others</dd>
            <dt>Josh Barr</dt><dd>Web design/development</dd>
        </dl>
        <div class="text--center">
            <p>
                This is free. Make your money useful <a href="http://www.givedirectly.org/" class='link'>here</a>.
            </p>
            <p>
                <a href="{% if referrer != None %}{{referrer}}{% else %}/{% endif %}" class='btn btn--block btn-primary btn--main'>Back to download</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}