{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{#% set hide_brush = true %#}
{% set html_class = "view--album" %}
{% set hide_brush = True %}

{% if errors %}
{% set html_class = "view--album no-zip" %}
{% endif %}

{% block content %}

<div data-step="album">
    <div id='album' class='block  block--fullscreen pb0 block--dark text--center'>
        <h2>E Taylor <span class='nowrap'>- Up (Side A)</span></h2>
        <p class='antialiased small'>
            Artwork by you, and a bunch of other people
        </p>

        <p>
            <a class='link nowrap' href="/credits">EP credits</a>
        </p>
        <div class='relative'>
            <a href="/ep/{{ uid }}" class='cd-art' data-download-album><img src="{{ url_for('static', filename='artwork/%s' % (img) ) }}" class="cd-image" alt=""></a>
            <div class="cd-downloading">
                <h1><span class="i icon icon-medium icon-download"></span></h1>
                
                <h2>
                    Downloading...
                </h2>
            </div>
        </div>
    </div>
    <div class='block block--fullscreen block--album   block--dark  no-zip-hide' data-download-zip>
        <div class="text--center">
            <p class='small antialiased'>
                <a href="#" class='link' data-toggle-zip-status>Can't download .zip files?</a>
            </p>
        </div>
    </div>
    <div class='block block--dark block--album  no-zip-show' data-download-nozip>
        <div class='nice-line-length   text--center block--center'>
            <form action="/download/{{uid}}" method="post">
                <h2 id="cant-download-zip-files">Looks like your device can't download ZIP files.</h2>
                <p class='antialiased'>We can email you a link to the EP:</p>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="form--inline">
                    {% with field = email_form.email  %}
                        <div class="form__field">
                            {{ field(placeholder='your@email.com')|safe }}
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block--q-xsmall form__submit">
                            Email me
                        </button> 
                        {% if field.errors %}
                            <ul class='list-unstyled errors form__errors'>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            <script type="text/javascript">
                                window.location.hash = "cant-download-zip-files";
                            </script>
                        {% endif %}
                        
                    {% endwith %}
                </div>
                <p class='small antialiased'>
                    <a href="#" class='link' data-toggle-zip-status>Let me try and download it anyway</a>
                </p>
            </form>
        </div>
    </div>
    <div class='block block--fullscreen block--album   block--dark  no-zip-hide' data-download-zip>
        <div class="text--center small">
            <a target="_blank" class='footer__link footer__link--twitter' href="http://www.twitter.com/thisisetaylor">
                <i class='i i-footer icon-twitter'></i>
                <span class='footer__text'>Twitter</span>
            </a>
            <a target="_blank" class='footer__link' href="http://www.facebook.com/thisisetaylor">
                <i class='i i-footer icon-facebook'></i>
                <span class='footer__text'>Facebook</span>
            </a>
            <a target="_blank" class='footer__link' href="http://www.soundcloud.com/thisisetaylor">
                <i class='i i-footer i-footer--long icon-soundcloud'></i>
                <span class='footer__text'>Soundcloud</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}
