Hey there,

In an age of unending noise it’s a near miracle that you’ve stumbled upon this little creation of mine and decided to download it. So thanks. Here it is:

Download the EP - http://thisisetaylor.com/ep/{{ album_id }}

This EP is free, so tell your friends - just click to share on Facebook (http://www.facebook.com/sharer/sharer.php?u=http://thisisetaylor.com) or Twitter (http://twitter.com/thisisetaylor).

Happy listening,

E Taylor
e@thisisetaylor.com
Facebook - http://www.facebook.com/thisisetaylor
Twitter - http://www.twitter.com/thisisetaylor
SoundCloud - http://www.soundcloud.com/thisisetaylor


This email was sent to {{ email }}.
If you don’t want to get emails from me anymore, I won’t be offended (much). Simply reply with “unsubscribe” in subject line.