<h3>Hey there,</h3>

<p>
	In an age of unending noise it’s a near miracle that you’ve stumbled upon this little creation of mine and decided to download it. So thanks. Here it is:
</p>

<a href="http://thisisetaylor.com/ep/{{ album_id }}">Download the EP</a>

<p>
	This EP is free, so tell your friends - just click to share on <a href="http://www.facebook.com/sharer/sharer.php?u=http://thisisetaylor.com">Facebook</a> or <a href="#">Twitter</a>.
</p>
<p>
	Happy listening,
</p>
<p>
	E Taylor <br>
<a href="mailto:e@thisisetaylor.com">e@thisisetaylor.com</a><br>
<a href="http://www.facebook.com/thisisetaylor">Facebook</a> / <a href="http://www.twitter.com/thisisetaylor">Twitter</a> / <a href="http://www.soundcloud.com/thisisetaylor">SoundCloud</a>
</p>

<p style="font-size: .875em; color: #666;">
This email was sent to <a href="mailto:{{email}}">{{ email }}</a>.
If you don’t want to get emails from me anymore, I won’t be offended (much). Simply reply with “unsubscribe” in subject line.
</p>