{% import "macros.j2" as macros %}

<h2>Album download</h2>

<p>Hey there,</p>

<p>You asked us to send you a link to <em>E Taylor - Up (Side A)</em>, and here it is! </p>

<p><a href="http://thisisetaylor.com/album/{{ album_id }}">Download the album</a></p>

<p>
	Thanks for your support,
</p>
<p>
	E. Taylor
</p>