{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block content %}	
<div></div>
    <div class='block block--dark '>

    	<div class="block--center album-line-length text--center">
    		<h2>Cool, we've emailed you the link!</h2>

			<p>In the mean time, check out the music video for <i>These People</i></p>

			<iframe style="max-width: 100%; margin-top: 1em;" width="560" height="315" src="//www.youtube.com/embed/NBLUU42FW0E" frameborder="0" allowfullscreen></iframe>

			<a href="/download/{{album_id}}" class='btn btn-primary  btn--main'>Back to download</a>
    	</div>
	</div>
{% endblock %}