<span class='share share--facebook st_facebook_custom' st_url="{{ social_url }}" st_title="{{ question.hashtag }} {{answer.text|safe}}" st_image="{{ social_image }}" st_summary="" displayText='Facebook'>
	<i class='i i-footer icon-facebook'></i> <span>Share</span>
</span>
<span class='share share--twitter st_twitter_custom' st_via="thisisetaylor" st_url="{{ social_url }}" st_title="{{ question.hashtag }} {{answer.text|safe}}"   displayText='Tweet'>
	<i class='i i-footer icon-twitter'></i>
	<span>Tweet</span>
</span> 

