<!DOCTYPE html>
<html class="{{ html_class }}">
<head>
	<meta charset="utf-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">


	{% set social_headline = "Add your answer to E Taylor’s EP cover art, then download the rapper’s debut for free" %}
	{% set social_description = "Free download: NZ rapper E Taylor’s debut EP ‘Up (Side A)’" %}
	{% set social_image = url_for('static', filename = 'up-side-a-share.png', _external = True) %}
	{% set social_url = url_for('main.start', _external = True) %}

	<meta name="description" content="{{ social_headline }}">
	<meta name="keywords" content="elliot taylor, e taylor, rap, music, new zealand hip-hop, free">
	<meta rel="author" content="E Taylor">

	<!-- for Facebook -->
	<meta property="og:title" content="{{ social_headline }}" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="E Taylor" />
	<meta property="og:url" content="{{ social_url }}" />	
	<meta property="og:image" content="{{ social_image }}"/>	
	<meta property="og:description" content="{{ social_description }}"/>

	<!-- for Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ social_headline }}" />
	<meta name="twitter:description" content="{{ social_description }}" />
	<meta name="twitter:image" content="{{ social_image }}" />
	<meta name="twitter:creator" content="@thisisetaylor">
	<meta name="twitter:url" content="{{ social_url }}">



	{% block meta %}
	{% endblock %}
	{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    {% endblock %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<title>Download E Taylor's debut EP 'Up'</title>

	<script>
	/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
	window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
	
	grunticon( [
		"{{ url_for('static', filename='css/svg/icons.data.svg.css') }}",
		"{{ url_for('static', filename='css/svg/icons.data.png.css') }}",
		"{{ url_for('static', filename='css/svg/icons.fallback.css') }}"
		]
	);

	</script>

	<noscript>
		<link href="icons.fallback.css" rel="stylesheet">
		<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1472844239594761&amp;ev=NoScript" />
	</noscript>
	<script type="text/javascript">
	(function(){
		var el = document.createElement("style");
		el.innerHTML = ".js-ghost{opacity:0;-webkit-user-select: none; -moz-user-select: none; cursor: default;}";
		document.querySelector('head').appendChild(el);
	})();
	</script>
	<script>(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
	    var fbds = document.createElement('script');
	    fbds.async = true;
	    fbds.src = '//connect.facebook.net/en_US/fbds.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(fbds, s);
	    _fbq.loaded = true;
	  }
	  _fbq.push(['addPixelId', '1472844239594761']);
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', 'PixelInitialized', {}]);
	</script>
</head>
<body>

{% block loader %}
{% endblock %}

<div class="stage js-ghost" data-stage>
	{% block content %}
	{% endblock %}
</div>

{% if not hide_brush %}

{#<div class="site-nav site-nav__container" data-ui-nav>
	<div class="block--center block text--center ">
		
		
		{% if session['download'] %}
			<a {% if not request.path.startswith("/download") %} href="{{ session['download'] }}" {% endif %} class='site-nav__item  {% if request.path.startswith("/download") %}site-nav__item--current{% endif %}'>Download</a>
		{% else %}
			<a {% if request.path != "/" %} href="/"{% endif %} class='site-nav__item  {% if request.path == "/" %}site-nav__item--current{% endif %}'>Download</a>
		{% endif %}

		{#% if request.path.startswith("/share") %}
			<a class='site-nav__item  site-nav__item--current'>Working...</a>

		{% endif %#}

		{#<a {% if request.path != "/credits" %} href="/credits" {% endif %} class='site-nav__item {% if request.path == "/credits" %}site-nav__item--current{% endif %}'>Credits</a>
	</div>
</div>#}



<div class="brush js-ghost" data-ui-brush></div>
{% endif %}


{% block scripts %}
<script type="text/javascript">
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
{% endblock %}

</body>
</html>